import(methods,parallel)
useDynLib(cghseg)
exportClasses(CGHdata,CGHoptions,CGHresults)
exportMethods("initialize")
exportMethods("[")
exportMethods("print")
exportMethods("show")
exportMethods("summary")
exportMethods("select<-","calling<-","wavenorm<-","GCnorm<-","nblevels<-","alpha<-","beta<-","itermax<-","nbprocs<-")
exportMethods("getuniKmax","getmultiKmax")
exportMethods("getbp","getsegprofiles","getlevels","getbgoutliers")
exportMethods("multiseg","uniseg")
export("simulprofiles")

